* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  padding: 4em 1em 1em 1em;
  margin: 0;
  /*font-family: 'Lora', Georgia, serif;*/
  /*font-family: 'Lora', Georgia, serif;*/
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  color: #222;
  font-weight: 300; }

a {
  color: #2455C3;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0; }
a:hover {
  color: #193B8A;
}

h2 a { color: #222; }

.content {
  padding: 0.809em;
  max-width: 45em;
  margin: auto; }

#drafts { opacity: 0.5; }
