---
title: DOM Change Benchmark (Javascript)
layout: base
style: experiments/sequence.css
javascripts: experiments/dom-change.js
---
<h1><%= page_title %></h1>
<div id="time" style="font-size: 70px;">0fps</div>
<div id="sequence" class="sequence"></div>
