

article h1, article h2, article h3, article h4, article h5 {
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 0em;
  color: #222; }
article h1 {
  font-size: 5em;
  text-transform: uppercase;
  line-height: 1em; }
article h2 {
  font-size: 1.5em; }
article h2 + p {
    margin-top: 0.5em; }
article h2 span.date {
  color: #444;
  font-size: 0.6em;}
article h3 {
  font-weight: 400;
  font-size: 0.925em;
  margin-top: 3em;
  text-transform: uppercase; }
article h4, article h5, article h6 {
  font-weight: 400;
  font-size: 0.925em;
  margin-top: 3em;
  font-style: italic; }
article ul, article ol {
  list-style-position: inside;
  padding: 0; }
article blockquote {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 2em 0;
  padding-left: 1em;
  border-left: 1px solid #ddd; }
article ul, article ol, article p, article blockquote {
  line-height: 1.5em; }
article img, article object, article video, article audio, article figure, article iframe {
  max-width: 100%; }
article pre, article code, article samp {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.88; }


p code { font-size: 0.88em; padding-right: 0.2em; }
article pre  {
  padding: 0 0.3em;
  font-size: 0.88em; }
article pre code.hljs {}
article div.update {
  border: 1px solid #888;
  padding: 5px 2em; }

article a.read-more { font-size: 0.7em; margin-top: -0.5em; display: block;
