aside {
  border-top: 1px solid #AAA;
  margin-top: 5em;
  display: none;
}

aside h3 { margin-top: 1em; }

aside ul.tags {
  width: 100%; overflow: hidden;
}

aside ul.tags li {
  font-size: 0.88em;
  display: block; float: left;
  padding: 0 0.5em;
  margin: 0 0 0.2em 0.2em;
  border-radius: 2px;
  background-color: #DDE5F9;
}
