.summary h2 { text-transform: uppercase; font-size: 3em; margin-top: 1em; }
.summary a.read-more { font-size: 0.7em; margin-top: -0.5em; display: block; }
.summary h2 span.date {
  display: none;
  color: #444;
  font-size: 0.3em;}
