
.song {
  width: 100%; overflow: hidden;

  .sheet {
    float: left;
    width: 50%; overflow: hidden;


    .measure {
      float: left;
      width: 24%; margin-right: 1px;
      padding: 0.5em 0;
      margin-bottom: 1px;
      background-color: #efefef;

      &.selected {
        background-color: orange;
      }
    }
  }

  .measure-info {
    float: left;
    width: 50%;
  }
}
