
.sequence {
  margin-bottom: 100px; 
  .row {
    width: 100%;
    overflow: hidden;

    div {
      float: left;
      width: 30px;
      height: 30px;
      background-color: #efefef;
      margin: 5px 5px 0 0;
    }

    div.on { background-color: #0C0; }

    div.active {
      background-color: #F00;
    }
  }
}

.button-play {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #333;
}

.button-stop {
  width: 0; height: 0;
  border: 15px solid #333;
}
