---
title: DOM Change Benchmark (virtual-dom)
layout: base
style: experiments/sequence.css
javascripts: "vendor/virtual-dom.js experiments/dom-change-virtual-dom.js"
---
<h1><%= page_title %></h1>
<div id="time" style="font-size: 70px;">FPS: 0</div>
<div id="sequence"></div>
