---
title: DOM Change Benchmark (React)
layout: base
style: experiments/sequence.css
javascripts: "https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.min.js
  experiments/dom-change-react.js"
---
<h1><%= page_title %></h1>
<div id="time" style="font-size: 70px;">FPS: 0</div>
<div id="sequence" class="sequence"></div>
