---
title: Drumbox (plain javascript)
layout: base
style: experiments/sequence.css
javascripts: experiments/drumbox-simple.js
---
<h1><%= page_title %></h1>
<div id="transport">
  <div id="play" class="button-play"></div>
</div>
<div id="drumbox" class="sequence"></div>
