---
title: Función logística (Zoom)
layout: base
javascripts: 'experiments/logistic-zoom'
---
<h1><%= page_title %></h1>
<h3>C1 <span id="C1">0</span> C2 <span id="C2">0</span></h3>
<canvas id="logistic" width="600" height="400"></canvas>
