---
title: "Real Book (React)"
layout: base
style: experiments/realbook.css
javascripts: "https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react-with-addons.min.js
  experiments/realbook-react.js"
---
<h1><%= page_title %></h1>
<div id="songs"></div>


<h3>Tips and tricks</h3>
<ul>
  <li>Avoid events: Function handler to owner</li>
</ul>

<!--script src="http://gist-it.appspot.com/https://github.com/danigb/codingadventures/blob/master/source/assets/javascripts/experiments/drumbox-simple.js">
</script -->
