html {
  font: 1em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial sans-serif;
  color: #333;
}

.grid .items { width: 100%; overflow: hidden; }
.grid .items .item {
  float: left; overflow: hidden;
  width: 11%;
  height: 0;
  margin: 0px 1% 1% 0;
  padding-bottom: 11%;
  background-color: #efefef;
}

.item h3 {
  margin: 2px;
}
.item h3 .position { font-size: 2em; }


.month {
  width: 100%; overflow: hidden;
}

.month > div { float: left; }
.month .label { width: 10%; }
.month .day {
  width: 2%; height: 0;
  padding-bottom: 2%;
  margin: 0px 0.2% 0.2% 0;
  font-size: 8px; text-align: center;
  color: white;
  overflow: hidden;
  background-color: #EEE;
}
