---
layout: false
---
<!doctype html>
<html>
  <head>
    <title>Fractals experiments</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'fractals' %>
    <%= javascript_include_tag 'fractals' %>
  </head>
  <body>
    <article>
      <h1>Fractal experiments</h1>
      <%= link_to 'Logistic Function', '/fractals/logistic' %>
    </article>
  <%= render_partial '/layouts/ga' %>
  </body>
</html>
