---
layout: false
---
<!doctype html>
<html>
  <head>
    <title>Logistic Function - Fractals experiments</title>
    <!-- link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' -->
    <%= stylesheet_link_tag 'fractals' %>
    <%= javascript_include_tag 'vendor/zepto.min.js', 'fractals/logistic' %>
  </head>
  <body>
    <canvas id="logistic" width="600" height="400"></canvas>
    <%= render_partial '/layouts/ga' %>
  </body>
</html>
